/TeusControle/.vs/TeusControle/v17/.futdcache.v1
/TeusControle/.vs/TeusControle/FileContentIndex/113121e6-7497-49fb-8fd4-29ca88af67a2.vsidx
/TeusControle/Core/bin/
/TeusControle/Core/obj/
/TeusControle/Core.Shared/obj/
/TeusControle/Core.Shared/bin/
/TeusControle/Data/obj/
/TeusControle/Data/bin/
/TeusControle/FakeData/obj/
/TeusControle/FakeData/bin/
/TeusControle/Manager/obj/
/TeusControle/Manager/bin/
/TeusControle/Manager.Tests/obj/
/TeusControle/Manager.Tests/bin/
/TeusControle/.vs/TeusControle/
/TeusControle/Repository.Tests/obj/
/TeusControle/Repository.Tests/bin/
/TeusControle/.vs/ProjectEvaluation/
/TeusControle/TeusControleApi/obj/
/TeusControle/TeusControleApi/bin/
/TeusControle/WebApi.Tests/bin/
/TeusControle/WebApi.Tests/obj/