/TeusControle/.vs/TeusControle/v17/.futdcache.v1
/TeusControle/.vs/TeusControle/FileContentIndex/113121e6-7497-49fb-8fd4-29ca88af67a2.vsidx
/TeusControle/Core/obj/Debug/netcoreapp3.1/Core.csproj.BuildWithSkipAnalyzers
/TeusControle/Core/obj/Debug/netcoreapp3.1/Core.GeneratedMSBuildEditorConfig.editorconfig
/TeusControle/Core.Shared/obj/Debug/netcoreapp3.1/Core.Shared.csproj.BuildWithSkipAnalyzers
/TeusControle/Core.Shared/obj/Debug/netcoreapp3.1/Core.Shared.GeneratedMSBuildEditorConfig.editorconfig
/TeusControle/Data/obj/Debug/netcoreapp3.1/Data.csproj.BuildWithSkipAnalyzers
/TeusControle/Data/obj/Debug/netcoreapp3.1/Data.GeneratedMSBuildEditorConfig.editorconfig
/TeusControle/FakeData/obj/Debug/netcoreapp3.1/FakeData.GeneratedMSBuildEditorConfig.editorconfig
/TeusControle/Manager/obj/Debug/netcoreapp3.1/Manager.csproj.BuildWithSkipAnalyzers
/TeusControle/Manager/obj/Debug/netcoreapp3.1/Manager.GeneratedMSBuildEditorConfig.editorconfig
/TeusControle/Manager.Tests/obj/Debug/netcoreapp3.1/Manager.Tests.GeneratedMSBuildEditorConfig.editorconfig
/TeusControle/.vs/TeusControle/FileContentIndex/read.lock
/TeusControle/Repository.Tests/obj/Debug/netcoreapp3.1/Repository.Tests.GeneratedMSBuildEditorConfig.editorconfig
/TeusControle/.vs/ProjectEvaluation/teuscontrole.metadata.v2
/TeusControle/.vs/ProjectEvaluation/teuscontrole.projects.v2
/TeusControle/TeusControleApi/obj/Debug/netcoreapp3.1/TeusControleApi.csproj.BuildWithSkipAnalyzers
/TeusControle/TeusControleApi/obj/Debug/netcoreapp3.1/TeusControleApi.GeneratedMSBuildEditorConfig.editorconfig
/TeusControle/TeusControleApi/bin/Debug/netcoreapp3.1/TeusControleApi.StaticWebAssets.xml
/TeusControle/WebApi.Tests/obj/Debug/netcoreapp3.1/WebApi.Tests.GeneratedMSBuildEditorConfig.editorconfig
/TeusControle/.vs/TeusControle/v17
/TeusControle/Core/obj/Debug/netcoreapp3.1
/TeusControle/Data/obj/Debug/netcoreapp3.1
/TeusControle/Manager/obj/Debug/netcoreapp3.1
/TeusControle/TeusControleApi/obj/Debug/netcoreapp3.1